/**
 * 八个背景颜色
 */

html,body,.section{
	min-height: 600px;
	min-width: 1000px;
	/*最小的宽度和高度，防止图片变形*/
}

#fp-nav ul li a span { /*  提高层叠性 */
	background: #f40!important;
}
/*第一屏幕制作 start*/
.section1{
	background: #fadd67 url(../images/bj1.png) no-repeat center bottom;
}
.fly{
	position: absolute;
	right: 20%;
	top: 10%;
}
.shirt01{
	position: absolute;
	left: 50%;
	margin-left: -200px;
	bottom: 335px;
}
.goods{
	position: absolute;
	left: 50%;
	margin-left: -420px;
	bottom: 150px;
}
/*第一屏屏幕制作 end*/
/*第二屏屏幕制作 start*/
.section2{
	background: #84a2d4 url(../images/bj2.png) no-repeat center bottom;
	z-index: 2;
}
.computer{
	width: 990px;
	height: 500px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	/*background: rgba(0,0,0,.3);*/
	bottom: 0;
}
.search{
	width: 222px;
	height: 42px;
	background: url(../images/search.png) no-repeat;
	right: -30px;
	bottom: 300px;
	position: absolute;
	display: none;
}
.search-wrods{
	position: absolute;
	right: 35px;
	top: 5px;
	opacity: 0; /*因为后面需要淡入淡出的效果，所以需要使用透明度，而不是使用display*/
}
.search-02-1{
	position: absolute;
	bottom: 300px;
	right: 380px;
	display: none; /*这里不需要淡入淡出，要么显示要么隐藏*/
}
.goods-02{
	height: 100px;
	position: absolute;
	bottom: 217px;
	right: 270px;
	display: none; /*在jQuery中使用show | hide隐藏*/
}
.words-01,.word-02{
	position: absolute;
	left: 50%;
	bottom: 550px;
	transform: translateX(-50%);
}
.word-02{
	opacity: 0;
}
.shirt-02{
	position: absolute;
	bottom: 345px;
	left: 395px;
	width: 100px;
	display: none;
	z-index: 10;
}
.cover{
	position: absolute;
	bottom: 334px;
	right: 495px;
	width: 101px;
	height: 90px;
	z-index: 5;
	background-color: #fff;
	display: none;
}
/*第二屏幕制作 end*/
/*第三屏制作 start*/
.section3{
	background: #ef674d;
	z-index: 1;
}
.main{
	position: absolute;
	width: 700px;
	height: 500px;
	/*background-color: pink;*/
	background: url(../images/main.png) no-repeat center center;
	left: 50%;
	transform: translateX(-50%);
	bottom: 50px;
}
.select{
	width: 300px;
	height: 250px;
	position: absolute;
	bottom: 0;
	right: 8px;
	/*background-color: pink;*/
}
.img{
	position: absolute;
	top: 0;
}
.img-01-a{
	opacity: 0; /*这里先不用display，而是使用opacity淡入效果*/
}
.btn{
	position: absolute;
	bottom: 20px;
}
.btn-01-a{
	opacity: 0;
}
/*沙发*/
.shirt-03,.tlf{
	position: absolute;;
	left: 115px;
	bottom: 200px;
	display: none;
}
/*第三屏制作 end*/
/*第四屏制作 start*/
.section4{
	background: #fed url(../images/bj4.png) no-repeat center bottom;
}
.cloud{
	position: absolute;
	left: 50%;
	bottom: 550px;
}
.word{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 500px;
}
.word-04-a{
	opacity: 0;
}
.car{
	width: 500px;
	position: absolute;
	/*background-color: pink;*/
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 50;
}
.car-img{
	position: absolute;
	bottom: 200px;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1; /*负值 向下叠加*/
	display: none;
}

.note{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background-color: pink;
	bottom: 180px;
	display: none;
}
.note-img{
	position: absolute;
	top: 60px;
	left: 60px;
	opacity: 0; /*淡入淡出效果，使用opacity*/
}
/*第四屏制作 end*/
/*第五屏制作 start*/
.section5{
	background: #d04759 url(../images/bj5.png);
	/*overflow: hidden;*/
	z-index: 1;
}
.words-05{
	position: absolute;
	left: 20%;
	top: 10%;
	opacity: 0;
}
.card-05{
	position: absolute;
	left: 20%;
	bottom: 200px;
	z-index: 10;
}
.order-05 {
	position: absolute;
	left: 27%;
	bottom: 270px;
}
.t1f-05 {
	position: absolute;
	bottom: 800px;
	left: 25%;
	display: none;
}
.mouse, .mouse-a{
	position: absolute;
	right: 20%;
	bottom: 200px;
}
.mouse-a{
	opacity: 0;
}
.hand-05{
	position: absolute;
	right: 24%;
	bottom: -375px;
}
/*为了不让其他页面重复显示鼠标和手*/
.overFlow{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
/*第五屏制作 end*/
/*第六屏制作 start*/
.section6{
	background: #84d9ed url(../images/bj6.png) no-repeat 25% 100%;
}
.box-06{
	position: absolute;
	left: 123px;
	bottom: 500px;
	z-index: 50;
}
.car-06{
	position: absolute;
	bottom: 0;
	right: 50%;
	z-index: 60;
}
.cloud-06{
	position: absolute;
	left: 50%;
	bottom: 550px;
	animation: cloud6 30s;
}
.pop-06{
	position: absolute;
	bottom: 119px;
	right: 48%;
	display: none;
	z-index: 50;
}
.man{
	right: 50%;
	bottom: 0;
	position: absolute;
	height: 100px;
}
.women{
	position: absolute;
	right: 315px;
	bottom: 116px;
	height: 123px;
	display: none;
	z-index: 50;
}
.door{
	position: absolute;
	right: 285px;
	bottom: 116px;
	/*display: none;*/
	opacity: 0;
}
.pop-07{
	position: absolute;
	right: 445px;
	bottom: 400px;
	z-index: 40;
	display: none;
}
.words-06-a{
	position: absolute;
	left: 10%;
	bottom: 479px;
	display: none;
}
/*第六屏制作 end*/
/*第七屏制作 start*/
.section7{
	background: #8ac060 url(../images/bj7.png) no-repeat 50% 100%;
}
.start{
	position: absolute;
	left: 50%;
	bottom: 439px;
	margin-left: -295px;
	width: 0;
	height: 20px;
	background: url(../images/star.png) no-repeat;
	background-size: 97px;
}
.good-07{
	position: absolute;
	bottom: 382px;
	left: 50%;
	margin-left: -289px;
	display: none;
}
/*第七屏制作 end*/

/*第八屏制作 start*/
.section8{
	background: url(../images/bj8.png);
}
.beginShoping{
	position: absolute;
	bottom: 365;
	left: 50%;
	transform: translateX(-50%);

}
.btn-08-a{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.again-08{
	position: absolute;
	bottom: 403px;
	left: 50%;
	margin-left: 240px;
	cursor: pointer;
}
.hand-08{
	position: absolute;
	bottom: 0;
	left: 50%;

}
/*第八屏制作 end*/

/*直接进入购物中心*/
.go{
	position: fixed;
	top: 5%;
	right: 5%;
	z-index: 99;
}


/*动画组*/
.updown{ /*类似与js的调用函数*/
	animation: fly 3s linear infinite; /*匀速*/
}

.shirt-updown{
	animation: shirt01 2.5s linear infinite; /*匀速*/
}

@keyframes fly{ /*类似于js的声明函数 function*/
	0% {
		top: 10%;
	}
	50% {
		top: 20%;
	}
	100% {
		top: 10%;
	}
}

@keyframes shirt01{ /*类似于js的声明函数 function*/
	50%{
		bottom: 360px;
	}
	100%{
		bottom: 335px;
	}
}

/*云彩第一组*/
.cloud-back1{
	animation: cloud 50s linear infinite; /*匀速*/
}
@keyframes cloud{
	50%{
		left: -10%;
	}
	100%{
		left: 50%;
	}
}

/*字体翻转3D动画*/
.words-05-a{
	animation: words5 3s forwards;
}
@keyframes words5 {
	100%{
		opacity: 1;
		transform: translateZ(100px) rotateY(360deg);
	}
}
/*第六屏云动画*/
@keyframes cloud6 {
	50%{
		left: 10%;
	}
}
